<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701762014230-cbhqnn0rk9p7ig0gle52t4gei67ij6ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701762014230-cbhqnn0rk9p7ig0gle52t4gei67ij6ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBK-ubXM21d2iomIXuOiVMA4S8RIfQeRt4</string>
	<key>GCM_SENDER_ID</key>
	<string>701762014230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.khawlah.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-d16fa</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-d16fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701762014230:ios:a64580fbc141ac8b5e7937</string>
</dict>
</plist>